.empty-cart {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

.shopping-cart tbody tr td {
	padding: 8px;
	vertical-align: middle;
}

.shopping-cart input {
	margin-top: 10px;
}

.shopping-cart th.thRight,
.shopping-cart td.tdRight {
	text-align: right;
}
.shopping-cart th.thCenter,
.shopping-cart td.tdCenter {
	text-align: center;
}

.cart-total {
	margin-top: 40px;
}
.cart-total .alright {
	text-align: right !important;
}
.cart-total .alleft {
	text-align: left !important;
}
.cart-total .padright {
	padding-right: 10px;
}
.cart-total button{
	width: 100%;
	margin-top: 5px;
}

