<section data-ng-controller="ArticlesController" class="container-fluid well white-well" data-ng-init="find()">
	<div class="ribbon">
		<div class="ribbon-stitches-top"></div>
		<strong class="ribbon-content"><h1>Articles</h1></strong>
		<div class="ribbon-stitches-bottom"></div>
	</div>
	<hr class="ribbon-divider">
	<ul class="articles unstyled">
		<li data-ng-repeat="article in articles">
			<span class="maright">{{article.created | date:'yyyy/MM/dd'}}</span>
			<span class="catagory maright badge" data-ng-class="{'badge-important': article.catagory=='Hot Deals', 'badge-info': article.catagory=='Beauty Tips'}">{{article.catagory}}</span>
			<span><a data-ng-href="#!/articles/{{article._id}}">{{article.title}}</a></span>
		</li>
	</ul>
</section>